/* Responsive CSS */

@media (min-width: 300px) and (max-width: 359px) {
  ._banerText h2 {
    font-size: 24px;
  }

  .row-p{
    font-size: 12px;
  }

  .award-title {
    font-size: 6px;
  }

  .font-h2-team {
    font-size: 8px;
  }

  .font-p-team {
    font-size: 3px;
  }

  .content h2{
    font-size: 28px;
  }
 
  .font-h2 {
    font-size: 24px;
  }

  .font-p {
    font-size: 2px;
  }

  .head-history {
    font-size: 15px;
  }

  .history_head {
    font-size: 9px;
  }

  .history_content {
    font-size: 4px;
  }

  .but-build {
    font-size: 4px;
  }

  .section-title {
    font-size: 5px;
  }

  .stage h3 {
    font-size: 2px;
  }
}

@media (min-width: 360px) and (max-width: 479px) {
  ._banerText h2 {
    font-size: 24px;
  }
  .award-title {
    font-size: 12px;
  }

  .font-h2-team {
    font-size: 24px;
  }

  .font-p-team {
    font-size: 5px;
  }



  .font-h2 {
    font-size: 18px;
  }

  .font-p {
    font-size: 14px;
  }

  .head-history {
    font-size: 20px;
  }

  .history_head {
    font-size: 12px;
  }

  .history_content {
    font-size: 6px;
  }

  .but-build {
    font-size: 14px;
    width: 80px;
    height: 25px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    font-size: 9px;
  }

  .stage h3 {
    font-size: 14px;
  }

  .team-me-i{
    font-size: 16px;
  }

  .team-me-in{
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
  }

  .prewod{
    margin-left: 0 ;
    padding: 0;
    margin-bottom: 10px;
  }

  .content{
    margin: 20px;
    margin-left: 0;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  ._banerText h2 {
    font-size: 30px;
  }

  ._banerText p {
    font-size: 14px;
  }

  .award {
    flex: 0 0 50%;
  }

  /* .award-title{
    font-size: 12px;
  } */

  .logo-contanir-01 {
    margin-top: 20px;
  }

  .mean-content-ab {
    padding: 60px 0 60px;
  }

  .values,
  .services-container {
    max-width: 480px;
    width: 100%;
  }

  /* .case-study{
    flex-direction: column-reverse;
  } */

  .award-title {
    font-size: 12px;
  }

  .font-h2-team {
    font-size: 12px;
  }

  .font-p-team {
    font-size: 7px;
  }

  .our-head {
    font-size: 24px;
    margin: 0 0 1em;
  }

  .font-p {
    font-size: 14px;
  }

  .font-h2 {
    font-size: 16px;
    margin-bottom: 1em;
  }

  .head-history {
    font-size: 10px;
  }

  .history_head {
    font-size: 15px;
  }

  .history_content {
    font-size: 7px;
  }

  .but-build {
    font-size: 14px;
    margin-top: 20px;
  }

  .section-title {
    font-size: 13px;
  }

  .stage h3 {
    font-size: 16px;
  }

  .value-item {
    flex: 0 0 100%;
  }

  .phone-image {
    width: 326px;
    height: 300px;
    margin-bottom: 0;
  }

  .team-me-i{
    font-size: 14px;
  }

  .team-me-in{
    font-size: 16px;
  }

  .content{
    margin: 20px;
    margin-left: 0;
  }

  .prewod{
    margin-left: 0 ;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .service-card p{
    font-size: 14px;
  }

  .footer-container{
    font-size: 16px;
  }

  .contact-area .content p{
    margin-top: 10px;
  }

  .logo-image-24{
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  ._banerText h2 {
    font-size: 32px;
  }

  ._banerText p {
    font-size: 14px;
  }

  .award-title {
    font-size: 18px;
  }

  .head-po{
    font-size: 35px;
  }

  .service-card h2{
    font-size: 25px;
  }

  .font-h2-team {
    font-size: 14px;
  }

  .service-card p {
    font-size: 18px;
  }

  .tag{
    font-size: 14px;
  }

  .button-btn{
    font-size: 14px;
  }

  ._learnBtn{
    font-size: 16px;
  }

  .our-head {
    font-size: 35px;
  }

  .font-h2 {
    font-size: 20px;
  }

  .font-p {
    font-size: 18px;
  }

  .head-history {
    font-size: 13px;
  }

  .history_head {
    font-size: 18px;
  }

  .history_content {
    font-size: 9px;
  }

  .but-build {
    font-size: 18px;
    margin-top: 40px;
  }

  .section-title {
    font-size: 17px;
  }

  .stage h3 {
    font-size: 18px;
  }
  .value-item {
    flex: 0 0 100%;
  }

  .text-h2{
    font-size: 18px;
  }

  .team-container {
    display: flex;
    flex: wrap;
  }

  .baner-main {
    width: 100%;
  }

  .team-me-i{
    font-size: 16px;
  }

  .team-me-in{
    font-size: 18px;
  }

  .content h2{
    margin-top: 20px;
  }

  .contact-area .content p{
    margin-top: 20px;
  }

  .logo-image-24{
    margin-top: 20px;
  }

.form-contact label{
  font-size: 18px;
}
  
}

@media (min-width: 992px) and (max-width: 1024px) {
  ._banerText h2 {
    font-size: 35px;
  }

  ._banerText p {
    font-size: 16px;
  }

  .award-title {
    font-size: 18px;
  }

  .head-po{
font-size: 32px;
  }

  .service-card h2{
    font-size: 24px;
  }

  .service-card p{
    font-size: 18px;
  }

  .tag{
    font-size: 16px;
  }

  .button-btn{
    font-size: 14px;
  }

  ._learnBtn{
    font-size: 16px;
  }

  .email-container{
    display: block;  
    }
  
    .email-form input{
    margin-left: 100px;
    }

  .font-h2-team {
    font-size: 16px;
  }

  .font-p-team {
    font-size: 11px;
  }

  .our-head {
    font-size: 35px;
  }

  .font-h2 {
    font-size: 20px;
  }

  .font-p {
    font-size: 18px;
  }

  .head-history {
    font-size: 16px;
  }

  .history_head {
    font-size: 21px;
  }

  .history_content {
    font-size: 11px;
  }

  .but-build {
    font-size: 20px;
  }

  .section-title {
    font-size: 21px;
  }

  .stage h3 {
    font-size: 22px;
  }

  .nav-bar li a{
    font-size: 18px;
  }

  .button-cta-button{
    position: relative;
    left: auto;
    bottom: auto;

  }
  .contact-area .content p{
    margin-top: 20px;
  }
  
  .form-contact label{
    font-size: 18px;
  }

  .prewod{
    font-size: 16px;
  }


  
}

@media (min-width: 1025px) and (max-width: 1199px) {
  ._banerText h2 {
    font-size: 40px;
  }

  ._banerText p {
    font-size: 18px;
  }

  .award-title {
    font-size: 14px;
  }

  .font-h2-team {
    font-size: 18px;
  }

  .font-p-team {
    font-size: 12px;
  }

  .our-head {
    font-size: 28px;
  }

  .font-h2 {
    font-size: 13px;
  }

  .font-p {
    font-size: 12px;
  }

  .head-history {
    font-size: 19px;
  }

  .history_head {
    font-size: 24px;
  }

  .history_content {
    font-size: 13px;
  }

  .but-build {
    font-size: 9px;
  }

  .section-title {
    font-size: 25px;
  }

  .stage h3 {
    font-size: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  ._banerText h2 {
    font-size: 50px;
  }

  ._banerText p {
    font-size: 16px;
  }

  .award-title {
    font-size: 16px;
  }

  .font-h2-team {
    font-size: 20px;
  }

  .font-p-team {
    font-size: 12px;
  }

  .our-head {
    font-size: 32px;
  }

  .font-h2 {
    font-size: 15px;
  }

  .font-p {
    font-size: 14px;
  }

  .head-history {
    font-size: 22px;
  }

  .history_head {
    font-size: 27px;
  }

  .history_content {
    font-size: 14px;
  }

  .but-build {
    font-size: 10px;
  }

  .section-title {
    font-size: 29px;
  }

  .stage h3 {
    font-size: 14px;
  }
}

@media (min-width: 1367px) and (max-width: 1600px) {
  ._banerText h2 {
    font-size: 60px;
  }

  ._banerText p {
    font-size: 18px;
  }

  .award-title {
    font-size: 18px;
  }

  .font-h2-team {
    font-size: 22px;
  }

  .font-p-team {
    font-size: 13px;
  }

  .our-head {
    font-size: 34px;
  }

  .font-h2 {
    font-size: 17px;
  }

  .font-p {
    font-size: 16px;
  }

  .head-history {
    font-size: 25px;
  }

  .history_head {
    font-size: 30px;
  }

  .but-build {
    font-size: 12px;
  }

  .section-title {
    font-size: 33px;
  }

  .stage h3 {
    font-size: 16px;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  ._banerText h2 {
    font-size: 70px;
  }

  ._banerText p {
    font-size: 20px;
  }

  .award-title {
    font-size: 20px;
  }

  .font-h2-team {
    font-size: 23px;
  }

  .font-p-team {
    font-size: 13px;
  }

  .our-head {
    font-size: 37px;
  }

  .font-h2 {
    font-size: 20px;
  }

  .font-p {
    font-size: 16px;
  }

  .head-history {
    font-size: 28px;
  }

  .history_head {
    font-size: 33px;
  }

  .but-build {
    font-size: 12px;
  }

  .section-title {
    font-size: 37px;
  }

  .stage h3 {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .mean-content-ab {
    padding: 60px 0 60px;
  }

  .awards-container {
    flex-direction: column;
  }

  .our-head {
    font-size: 22px;
    margin: 0 0 1em;
  }


  .baner-main {
    height: auto;
    padding: 60px 0;
  }

  ._banerText {
    padding: 0;
  }

  .services-container {
    grid-template-columns: auto;
  }

  .flex-card {
    flex-direction: column-reverse;
  }

  ._banerText p {
    font-size: 13px;
  }

  .awards-container {
    flex-direction: column;
  }

  .award {
    width: 100%;
  }

  .award img {
    object-position: center;
    width: 100%;
    object-fit: contain;
  }

  .card-wrong {
    width: 100%;
    padding-right: 0px;
  }

  .image-action,
  .image-water,
  .image-item,
  .img-card-wromng {
    height: 110px;
    background-size: auto;
    background-position: center;
    margin-bottom: 1em;
  }

  .value-item p {
    word-break: break-all;
  }

  .value-item {
    flex: 0 0 100%;
  }
  .history-item {
    object-position: center;
    grid-row: auto;
    object-fit: contain;
    grid-template-rows: auto;
  }

  .email-container {
    justify-content: space-around;
    display: flex;
    align-items: left;
    justify-content: left;
  }

  ._main_processDiv {
    flex-direction: column-reverse;
  }

  .stage ul {
    font-size: 12px;
  }

  .text-h3 {
    gap: 2px;
  }

  .heading-team {
    font-size: 28px;
  }

  .success-container h1 {
    font-size: 18px;
    text-align: center;
    height: auto;
    margin-bottom: 38px;
  }

  .email-sub {
    height: auto;
    background-color: transparent;
  }

  .success-stories {
    padding-top: 4em;
  }

  .case-study {
    flex-direction: column-reverse;
  }

  .phone-image {
    width: 326px;
    height: 300px;
    margin-bottom: 0;
  }

  .cta-section {
    flex-direction: column;
    padding: 18px;
    align-items: flex-start;
  }

  contact-area .content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 32px;
  }

  .contact-area .content {
    padding-right: 0;
    padding-bottom: 0em;
  }

  ._halfDiv {
    flex: 0 0 100%;
  }

  .logo-image-24 {
    margin-top: 10px;
  }

  .h2.heading-team {
    font-size: 28px;
  }

  .value-item {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .image-container {
    margin: 0;
  }

  .email-p,
  .email-h2 {
    margin-left: 0px;
    font-size: 20px;
  }

  .email-container {
    flex-direction: column;
    padding: 18px;
    align-items: flex-start;
  }

  .email-text {
    flex: auto;
  }

  .email-form input {
    width: 100%;
    margin-right: 0;
  }

  .logo-contanir-01 {
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0;
  }

  .success-container {
    padding: 0;
  }

  .cta-section h2 {
    padding: 20px;
  }

  .button-cta-button {
    left: 0;
    bottom: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;

  }

  .cta-section {
    height: auto;
  }

  .case-study-text {
    max-width: 100%;
  }

  ._anvContainer {
    padding: 0 1em;
  }

  .sdAnchor {
    font-size: 24px;
    text-decoration: none;
  }

  .stp_btnInnr_text {
    font-size: 24px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;
  }

  .sidebar {
    background-color: #f3e9e9;
  }

  

  .clients-section{
    margin-top: 60px;
    margin-bottom: 0;
  
  }
}

@media (max-width: 991px) {
  .nav-bar,
  .nav-btn {
    display: none;
  }

  .study-button {
    padding: 4px;
    position: relative;
    top: 0px;
    margin: 15px 0 25px;
  }

  .services-container {
    grid-template-columns: auto;
  }

  ._main_processDiv {
    flex-direction: column-reverse;
  }

  .case-study {
    flex-direction: column;
    padding-bottom: 0;
  }

  .contact-area {
    flex-direction: column-reverse;
  }

  a.sdAnchor_contBtn.stpBtn {
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }

  .stp_btnInnr_text {
    font-size: 14px;
  }

  .side_navlinks li a {
    font-size: 16px;
  }

  .side_navlinks ul {
    gap: 1rem;
  }

  ._main_processDiv {
    padding: 60px 60px;
  }

  .cta-section {
    /* padding-top: 0px; */
  }

  .button-cta-button {
    /* margin-bottom: 60px; */
    left: 0px;
    bottom: 0px;
    display: inline-block;
  }
}

/* @media(max-width:1024){
  
} */

@media (min-width: 992px) {
  .sidebar_toggler {
    display: none !important;
  }
}

@media(max-width: 1366px){

  .team-me-i{
    font-size: 16px;
  }

  .team-me-in{
font-size: 18px ;
  }

  .email-h2{
    font-size: 22px;
  }

  .email-p{
    font-size: 18px;
  }


  .button-cta-button{
    position: relative;
    left: auto;
    bottom: auto ;
  }

 
}